body {
  background-color: #FAEBD7;
}

.navbar {
  background-color: black;
  font-family: arial;
}

.jumbotron{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bannerbackground.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #FAEBD7;
}

.celebrity-heads img{
  border-radius: 50%;
  height: 100px;
  width: auto;
}

.celebrity-heads img:hover {
   transform: scale(1.2);
}

.letsplay {
  text-align: center;
}

.gold {
  width:400px;
  margin: auto 0;
  text-align: center;
  background-image: url("../images/goldcoins.jpg");
  border: 2px solid black;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.gameboard {
  background-image: url("../images/tryharder.jpg");
  background-size: 600px 600px;
  background-repeat: no-repeat;
  margin: 20px;
}

td {
border: 3px solid black;
height: 200px;
width: 200px;
/*background: gray;*/

}

td:hover {
  background-image: url("../images/dolladollabills.jpg");
  height: 200px;
  width: 200px;
}

